
nav{
    height : 5rem;
}


.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
}

        



.projects{
    float : left ;
    text-align: center; 
    height : 20rem;
    width : 50%;
    border : solid 1px grey ;
    opacity: 0.9;
  filter: alpha(opacity=30); 
  color : black ; 

  
}

#pro > section:nth-child(1){
    background-image :url("./game1.jpg");
    background-size: cover; 


}

#pro > section:nth-child(5){
    background-image :url("./game1.jpg");
    background-size: cover; 

  

}

#pro > section:nth-child(2){
    background-image :url("./game2.jpg");
    background-size: cover; 

}

#pro > section:nth-child(6){
    background-image :url("./game2.jpg");
    background-size: cover; 

}

#pro > section:nth-child(3){
    background-image :url("./game3.jpg");
    background-size: cover; 

}

#pro > section:nth-child(7){
    background-image :url("./game3.jpg");
    background-size: cover; 

}

#pro > section:nth-child(4){
    background-image :url("./game4.jpg");
    background-size: cover; 
 
}

#pro > section:nth-child(8){
    background-image :url("./game4.jpg");
    background-size: cover; 
 
}

#pro > section:nth-child(9){
  background-image :url("./game1.jpg");
  background-size: cover; 
}

.projects:hover{

    border : solid 1px grey ;
    opacity: 0.6;
  filter: alpha(opacity=30);
}


.projects .hoverition{
    visibility: hidden;
    
}

.projects:hover .hoverition{
    visibility: visible;
    color : black ; 
    font-family: 'Work Sans', sans-serif;
    margin-top : 10px 


}

.projects .initial {
    visibility: visible;
    color : black  ; 
    font-family: 'Work Sans', sans-serif;
    font-size : 20px ;
    margin-top : 100px ;
}

.projects:hover .initial{
visibility: hidden
}

#pro{
    background-color : white;
    height : 34rem;
    overflow: scroll;

}

#skills{
    height : 20rem;
    width : 100%;
    background-color : white;
}



#main1{
    height : 100vh; 
    width : 100%;
    background-image: url("./pe.jpg");
    background-size: cover; 
    display : table; 
    background-attachment: fixed;
}

#main2{
    height : 100vh; 
    width : 100%;
    background-image: url("./photo.jpg");
    background-size: cover; 
    display : table; 
    background-attachment: fixed;

}
#main3{
    height : 100vh; 
    width : 100%;
    background-image: url("./photo3.jpg");
    background-size: cover; 
    display : table; 
    background-attachment: fixed;


}

h1{
    font-size: 50px;
    color: white; 
    margin: 0px; 
    text-align : center; 
    display : table-cell; 
    vertical-align: middle;

}
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
    margin: 0;
    padding: 0; 
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: black;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;

}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
    text-decoration: none;
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: grey;
  text-decoration: none;

}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}



